In [1]:
import pandas as pd

data = pd.read_table('data.txt')

In [2]:
data

,variable_name,variable_meaning,variable_value
0,n,number of scout bees,50.0
1,m,number of sites selected out of n visited sites,15.0
2,e,elite patches,3.0
3,nep,elite bees recruited,12.0
4,nsp,non-elite bees recruited,8.0
5,ngh,neighbourhood size,0.1
6,maxiter,number of iterations,5000.0